// Content Block Spacing Variables
$core-font-size:		1rem !default;
$core-line-height:		1.5 !default;
$base-content-margin:		1.5rem !default;
$base-content-padding:		0.5rem !default;

$section-padding:		0rem;  //TODO: apart from navigation keep it and remove section styles padding margin
$core-border-radius:		0.25rem;
$border-radius:			0.25rem;