// Font Family
$font-family-default:           "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-family-title:             "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-family-quote:             "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;

$font-family-mono: 				"Menlo", "Monaco", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

// Font Weights
$font-weight-light:				200;
$font-weight-regular:			400;
$font-weight-medium:			500;
$font-weight-semibold:			600;
$font-weight-bold:				700;
$font-weight-ultrabold:		  	900;


// Navigation Sizes
$navigation-line-height:        1.5 !default;
$navtop-line-height:			1.5 !default;

// Heading Sizes
// $h1-font-size:					$core-font-size + 1.25 !default;
// $h2-font-size:					$core-font-size + 0.90 !default;
// $h3-font-size:					$core-font-size + 0.30 !default;
// $h4-font-size:					$core-font-size + 0.25 !default;
// $h5-font-size:					$core-font-size !default;
// $h6-font-size:					$core-font-size - 0.15 !default;
$h1-font-size:					$core-font-size + 1.667 !default;
$h2-font-size:					$core-font-size + 1 !default;
$h3-font-size:					$core-font-size + 0.667 !default;
$h4-font-size:					$core-font-size + 0.5 !default;
$h5-font-size:					$core-font-size !default;
$h6-font-size:					$core-font-size - 0.15 !default;

$figure-caption-font-size:		$core-font-size -0.25 !default; //for later use
$small-font-size:				$core-font-size -0.5 !default;	//for later use
 
