#g-footer {
	margin: $sectionsdim-footer-margin 0;
    padding: $sectionsdim-footer-padding 0;
    position: relative;
    
    //SECTION PRESETS    
	@if $footer-section-preset {
        //PRIMARY
        @if $footer-section-preset == 'primary' {
            color: $white; //variable from _colors
            a {
                color: $accent-color-1;
                &:hover {
                    color: fadeout($accent-color-1, 40%);
                }
            }
            background-color: $base-dominant-color;
        
        //BASE     
        } @else if $footer-section-preset == 'base' {
            color: $base-text-color; 
            a {
                color: $base-dominant-color;
                &:hover {
                    color: fadeout($base-dominant-color, 40%);
                }
            }
            background-color: $base-background;
        
        //ACCENT 1
        } @else if $footer-section-preset == 'accent1' {
            color: $white; 
            a {
                color: $base-dominant-color;
                &:hover {
                    color: fadeout($base-dominant-color, 40%);
                }
            }
            background-color: $accent-color-1;
        
        //ACCENT 2    
        } @else if $footer-section-preset == 'accent2' {
            color: $base-text-color; 
            a {
                color: $accent-color-3;
                &:hover {
                    color: fadeout($accent-color-3, 40%);
                }
            }
            background-color: $accent-color-2;
        
        //ACCENT 3    
        } @else if $footer-section-preset == 'accent3' {
            color: $white; 
            a {
                color: $accent-color-1;
                &:hover {
                    color: fadeout($accent-color-1, 40%);
                }
            }
            background-color: $accent-color-3;
        
        //IF section PRESETS ARE DISABLED SELECT CUSTOM VALUES    
        } @else if $footer-section-preset == 'disabled' {
        	color: $footer-text-color;
            // LINKS
            a {
                color: $footer-link-color;
                &:hover {
                    color: fadeout($footer-link-color, 40%);
                }
            }
            background-color:$footer-background;
        }
    }

    // Horizontal Menu
    .g-horizontalmenu {
        // padding: 0.5rem 0;
        // text-align: right;

        @include breakpoint(mobile-only) {
            text-align: center;
        }

        a {
            color: $footer-text-color;

            &:hover {
                color: fadeout($footer-text-color, 40%);
                box-shadow: 0 2px 0 fadeout($footer-text-color, 80%);
            }
        }
    }

    // To Top
    .g-totop {
        padding: 0.5rem 0;

        a {
            color: $footer-text-color;

            &:hover {
                color: fadeout($footer-text-color, 40%);
            }
        }
    }

    // LINKS
    a {
        color: $footer-link-color;

        &:hover {
            color: fadeout($footer-link-color, 40%);
        }
    }

    // HEADING2
    h2 {
        font-weight: 300;
        line-height: $core-line-height;

        @include breakpoint(large-mobile-range) {
            font-size: 1.35rem;
        }

        em {
            font-weight: $font-weight-medium;
        }

        &.large-heading {
            font-size: $h2-font-size * 2;

            @include breakpoint(tablet-range) {
                font-size: $h2-font-size * 1.25;
            }

            @include breakpoint(mobile-only) {
                font-size: $h2-font-size;
            }
        }
    }

    // BUTTONS
    .button {
        color: $white;
    }
    
}

@media print {
    #g-footer {
        background: #fff !important;
        color: #000 !important;
    }
}
