#g-navtop {
	margin: $sectionsdim-navtop-margin 0;
    padding: $sectionsdim-navtop-padding 0;
    position: relative;
    
    //SECTION PRESETS    
	@if $navtop-section-preset {
        //PRIMARY
        @if $navtop-section-preset == 'primary' {
            color: $white; //variable from _colors
            a {
                color: $accent-color-1;
                &:hover {
                    color: fadeout($accent-color-1, 40%);
                }
            }
            background-color: $base-dominant-color;
        
        //BASE     
        } @else if $navtop-section-preset == 'base' {
            color: $base-text-color; 
            a {
                color: $base-dominant-color;
                &:hover {
                    color: fadeout($base-dominant-color, 40%);
                }
            }
            background-color: $base-background;
        
        //ACCENT 1
        } @else if $navtop-section-preset == 'accent1' {
            color: $white; 
            a {
                color: $base-dominant-color;
                &:hover {
                    color: fadeout($base-dominant-color, 40%);
                }
            }
            background-color: $accent-color-1;
        
        //ACCENT 2    
        } @else if $navtop-section-preset == 'accent2' {
            color: $base-text-color; 
            a {
                color: $accent-color-3;
                &:hover {
                    color: fadeout($accent-color-3, 40%);
                }
            }
            background-color: $accent-color-2;
        
        //ACCENT 3    
        } @else if $navtop-section-preset == 'accent3' {
            color: $white; 
            a {
                color: $accent-color-1;
                &:hover {
                    color: fadeout($accent-color-1, 40%);
                }
            }
            background-color: $accent-color-3;
        
        //IF section PRESETS ARE DISABLED SELECT CUSTOM VALUES    
        } @else if $navtop-section-preset == 'disabled' {
        	color: $navtop-text-color;
            // LINKS
            a {
                color: $navtop-link-color;
                &:hover {
                    color: fadeout($navtop-link-color, 40%);
                }
            }
            background-color:$navtop-background;
        }
    }

    // HEADING2
    h2 {
        font-weight: 300;
        line-height: $core-line-height;

        @include breakpoint(large-mobile-range) {
            font-size: 1.35rem;
        }

        em {
            font-weight: $font-weight-medium;
        }

        &.large-heading {
            font-size: $h2-font-size * 2;

            @include breakpoint(tablet-range) {
                font-size: $h2-font-size * 1.25;
            }

            @include breakpoint(mobile-only) {
                font-size: $h2-font-size;
            }
        }
    }

    // BUTTONS
    .button {
        color: $white;
    }

    ///////////////////////////////////////////////


    // Logo
    .g-logo {
        color: $navtop-text-color;
        line-height: 2.8rem;

        &.g-logo-prometheus {
            svg {
                fill: $navtop-text-color;
            }
        }
    }

    // Social Particle
    .g-social-header {
        @include breakpoint(mobile-only) {
            .g-content {
                margin-top: 0;
                padding: 0 $base-content-padding;
            }
        }
    }

    .g-social {
        text-align: right;
        line-height: 3.125;

        @include breakpoint(mobile-only) {
            text-align: center;
        }

        .rtl & {
            text-align: left;
        }
    }

    // Menu Styling
    .g-main-nav {
        font-family: get-font-family($font-family-title);
        font-weight: $font-weight-bold;
        line-height: $navtop-line-height;

        .g-toplevel {
            line-height: ($navtop-line-height + 1.625);

            > li {
                margin: 0 0.5rem;

                @include breakpoint(tablet-range) {
                    margin: 0 0.2rem;
                }

                > .g-menu-item-container {
                    color: $navtop-text-color;
                    padding: $base-content-padding/4 0;

                    > .g-menu-item-content {
                        padding: 0 0 $base-content-padding/4;
                    }

                    .g-menu-parent-indicator {
                        vertical-align: top;

                        &:after {
                            content: "\f107";
                            opacity: 0.75;
                            width: 1rem;
                            font-weight: $font-weight-regular;
                        }
                    }

                    i {
                        opacity: 1;
                    }
                }

                &:hover {
                    > .g-menu-item-container {
                        color: fadeout($navtop-text-color, 30%);

                        > .g-selected {
                            color: fadeout($navtop-text-color, 30%);
                        }
                    }
                }

                &.active {
                    > .g-menu-item-container {
                        > .g-menu-item-content {
                            box-shadow: 0 2px 0 fadeout($navtop-text-color, 80%);
                        }

                        > .g-selected {
                            box-shadow: 0 2px 0 fadeout($navtop-text-color, 80%);
                        }
                    }
                }
            }
        }

        .g-dropdown {
            background: lighten($navtop-background, 2%);
            border: 1px solid fadeout($navtop-text-color, 80%);
            border-radius: $border-radius;

            > .g-dropdown-column {
                border: 1px solid transparent;
            }

            a {
                color: $navtop-text-color;

                &:hover {
                    color: $base-dominant-color;;
                }
            }

            .g-dropdown-column {
                position: relative;
            }

            .g-dropdown {
                margin-left: 20px;
            }
        }

        .g-sublevel {
            > li {

                > .g-menu-item-container {
                    color: $navtop-text-color;

                    > .g-selected {
                        color: $navtop-text-color;
                    }
                }

                &:not(:last-child) {
                    > .g-menu-item-container {
                        border-bottom: 1px solid fadeout($navtop-text-color, 80%);

                        > .g-selected {
                            border-bottom: 1px solid fadeout($navtop-text-color, 80%);
                        }
                    }
                }

                &:hover, &.active {
                    > .g-menu-item-container {
                        color: $base-dominant-color;

                        > .g-selected {
                            color: $base-dominant-color;
                        }
                    }
                }

                &.g-menu-item-type-particle {
                    > .g-menu-item-container {
                        border: 0;
                    }

                    &:hover, &.active {
                        > .g-menu-item-container {
                            border: 0;
                        }
                    }
                }

                &.g-menu-item-type-particle {
                    &:hover {
                        > .g-menu-item-container {
                            background: inherit;
                        }
                    }
                }
            }
        }
    }

    .g-menu-block {
        @include breakpoint(mobile-only) {
            display: none;
        }
    }

    .g-menu-item-subtitle {
        text-transform: lowercase;
        font-size: 0.8rem;
        opacity: 0.8;
        padding-top: 0;
    }
    //////////////////////////




}

@media print {
	#g-navtop {
		background: #fff !important;
		color: #000 !important;
	}
}
