// default values derive from _colors.scss 
// eg:
// $base-background-image:			false !default;
// $pagesurround-background:       $base-background !default;


#g-page-surround {
	background: $pagesurround-background;
    overflow: hidden;
	
	@if $base-background-image {
		background-image: url($base-background-image);
		background-size: cover;
	}

    .g-bodyonly & {
		color: $base-text-color;
		background: $base-background;
    }
}

@media print {
	#g-page-surround {
		background: #fff !important;
		color: #000 !important;
	}
}
