@charset "UTF-8";
body.os_fancybox-active {
  overflow: hidden;
}
body.os_fancybox-iosfix {
  position: fixed;
  left: 0;
  right: 0;
}
.os_fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.os_fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99992;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.os_fancybox-outer,
.os_fancybox-inner,
.os_fancybox-bg,
.os_fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.os_fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.os_fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.os_fancybox-is-open .os_fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.os_fancybox-infobar,
.os_fancybox-toolbar,
.os_fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s, visibility 0s linear .25s;
  box-sizing: border-box;
}
.os_fancybox-show-infobar .os_fancybox-infobar,
.os_fancybox-show-toolbar .os_fancybox-toolbar,
.os_fancybox-show-caption .os_fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s, visibility 0s;
}
.os_fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 0 10px;
  height: 44px;
  min-width: 44px;
  line-height: 44px;
  color: #ccc;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  mix-blend-mode: exclusion;
}
.os_fancybox-toolbar {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
.os_fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0);
}
.os_fancybox-is-closing .os_fancybox-stage {
  overflow: visible;
}
.os_fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.os_fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.os_fancybox-is-sliding .os_fancybox-slide,
.os_fancybox-slide--previous,
.os_fancybox-slide--current,
.os_fancybox-slide--next {
  display: block;
}
.os_fancybox-slide--image {
  overflow: visible;
}
.os_fancybox-slide--image::before {
  display: none;
}
.os_fancybox-slide--video .os_fancybox-content,
.os_fancybox-slide--video iframe {
  background: #000;
}
.os_fancybox-slide--map .os_fancybox-content,
.os_fancybox-slide--map iframe {
  background: #E5E3DF;
}
.os_fancybox-slide--next {
  z-index: 99995;
}
.os_fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  /*margin: 44px 0 44px;*/
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
}
.os_fancybox-slide > title,
.os_fancybox-slide > style,
.os_fancybox-slide > meta,
.os_fancybox-slide > link,
.os_fancybox-slide > script,
.os_fancybox-slide > base {
  display: none;
}
.os_fancybox-slide .os_fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.os_fancybox-can-zoomOut .os_fancybox-image-wrap {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.os_fancybox-can-zoomIn .os_fancybox-image-wrap {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.os_fancybox-can-drag .os_fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab;
}
.os_fancybox-is-dragging .os_fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.os_fancybox-image,
.os_fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.os_fancybox-spaceball {
  z-index: 1;
}
.os_fancybox-slide--iframe .os_fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff;
}
.os_fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.os_fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default; }

.os_fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 20px; }

/* Buttons */
.os_fancybox-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.6);
  transition: color .3s ease;
  cursor: pointer;
  outline: none; }

.os_fancybox-button,
.os_fancybox-button:visited,
.os_fancybox-button:link {
  color: #ccc; }

.os_fancybox-button:focus,
.os_fancybox-button:hover {
  color: #fff;
}
































.os_fancybox-button[disabled] {
  color: #ccc;
  cursor: default;
  opacity: 0.6; }

.os_fancybox-button svg {
  display: block;
  position: relative;
  overflow: visible;
  shape-rendering: geometricPrecision; }

.os_fancybox-button svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.os_fancybox-button--share svg path {
  stroke-width: 1; }

.os_fancybox-button--play svg path:nth-child(2) {
  display: none; }

.os_fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.os_fancybox-button--zoom svg path {
  fill: transparent; }

/* Navigation arrows */
.os_fancybox-navigation {
  display: none; }

.os_fancybox-show-nav .os_fancybox-navigation {
  display: block; }

.os_fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px; }

.os_fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6); }

.os_fancybox-navigation .os_fancybox-button--arrow_left {
  left: 0; }

.os_fancybox-navigation .os_fancybox-button--arrow_right {
  right: 0; }

/* Close button on the top right corner of html content */
.os_fancybox-close-small {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 26px;
  padding: 0;
  border-radius: 50%;
  margin: 0;
  border: 0;
/*  border-radius: 0;*/
 /* background: transparent;*/
  z-index: 10;
  cursor: pointer; 
  background: none;
}
.os_fancybox-close-small:hover {
  background: #ccc;
}
.os_fancybox-close-small:after {
  content: '×';
  /*position: absolute;
  top: 5px;
  */
  right: 5px;
  /*height: 27px;*/
  font: 22px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #fff;
  /*width: 29px;*/
  /*font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color .25s;
  box-sizing: border-box;*/
  z-index: 2; }

.os_fancybox-close-small:hover:after {
  color: #000;
}
.os_fancybox-close-small:focus {
  outline: none; }

/*.os_fancybox-close-small:focus:after {
  outline: 1px dotted #888; }*/

.os_fancybox-close-small:hover:after {
 /* color: #555;
  background: #eee;*/
}

.os_fancybox-slide--image .os_fancybox-close-small,
.os_fancybox-slide--iframe .os_fancybox-close-small {
  top: 0;
  right: -40px; }

.os_fancybox-slide--image .os_fancybox-close-small:after,
.os_fancybox-slide--iframe .os_fancybox-close-small:after {
  font-size: 35px;
  color: #aaa; }

.os_fancybox-slide--image .os_fancybox-close-small:hover:after,
.os_fancybox-slide--iframe .os_fancybox-close-small:hover:after {
  color: #fff;
  background: transparent; }

.os_fancybox-is-scaling .os_fancybox-close-small,
.os_fancybox-is-zoomable.os_fancybox-can-drag .os_fancybox-close-small {
  display: none; }

/* Caption */
.os_fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none; }

.os_fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.os_fancybox-caption a,
.os_fancybox-caption button,
.os_fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */ }

.os_fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.os_fancybox-slide > .os_fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: os_fancybox-rotate .8s infinite linear;
  animation: os_fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999; }

@-webkit-keyframes os_fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes os_fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.os_fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.os_fancybox-fx-slide.os_fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.os_fancybox-fx-slide.os_fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0; }

.os_fancybox-fx-slide.os_fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: fade */
.os_fancybox-fx-fade.os_fancybox-slide--previous,
.os_fancybox-fx-fade.os_fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.os_fancybox-fx-fade.os_fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.os_fancybox-fx-zoom-in-out.os_fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0; }

.os_fancybox-fx-zoom-in-out.os_fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0; }

.os_fancybox-fx-zoom-in-out.os_fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

/* transitionEffect: rotate */
.os_fancybox-fx-rotate.os_fancybox-slide--previous {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0; }

.os_fancybox-fx-rotate.os_fancybox-slide--next {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0; }

.os_fancybox-fx-rotate.os_fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1; }

/* transitionEffect: circular */
.os_fancybox-fx-circular.os_fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0; }

.os_fancybox-fx-circular.os_fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0; }

.os_fancybox-fx-circular.os_fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: tube */
.os_fancybox-fx-tube.os_fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.os_fancybox-fx-tube.os_fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.os_fancybox-fx-tube.os_fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.os_fancybox-share {
  padding: 30px 0;
  /* border-radius: 3px; */
  background: rgba(0, 0, 0, 0.9);
  /* max-width: 100%; */
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 16%;
}

.os_fancybox-share h1 {
  color: #fff;
  margin: 0 0 45px 0;
  font-size: 35px;
  font-weight: 700; }

.os_fancybox-share p {
  margin: 0;
  padding: 0; }

p.os_fancybox-share__links {
  margin-right: -10px; }

.os_fancybox-share__button {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  min-width: 92px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-seletct: none;
  -ms-user-selec: none;
  user-select: none;
  color: #fff;
  transition: all .2s; }

.os_fancybox-share__button:hover {
  text-decoration: none; }

.os_fancybox-share__button--fb {
  background: none; }

/*.os_fancybox-share__button--fb:hover {
  background: #344e86; }*/
.os_fancybox-share__button span {
  display: block !important;
}
.os_fancybox-share__button--pt {
  background: #bd081d; }

.os_fancybox-share__button--pt:hover {
  background: #aa0719; }

.os_fancybox-share__button--tw {
  background: #1da1f2; }

.os_fancybox-share__button--tw:hover {
  background: #0d95e8; }

.os_fancybox-share__button svg {
  position: relative;
  top: 9px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  /*margin-right: 7px;*/
  vertical-align: middle; }

.os_fancybox-share__button svg path {
  fill: #fff; }

.os_fancybox-share__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background: transparent;
  color: #5d5b5b;
  font-size: 14px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #d7d7d7; }

/* Thumbs */
.os_fancybox-thumbs {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 212px;
  margin: 0;
  padding: 2px 2px 4px 2px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  z-index: 99995; }

.os_fancybox-thumbs-x {
  overflow-y: hidden;
  overflow-x: auto; }

.os_fancybox-show-thumbs .os_fancybox-thumbs {
  display: block; }

.os_fancybox-show-thumbs .os_fancybox-inner {
  right: 212px; }

.os_fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap; }

.os_fancybox-thumbs-x > ul {
  overflow: hidden; }

.os_fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.os_fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.os_fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.os_fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  width: 100px;
  height: 75px;
  max-width: calc(50% - 4px);
  max-height: calc(100% - 8px);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.os_fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.os_fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.os_fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.os_fancybox-thumbs > ul > li.os_fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .os_fancybox-thumbs {
    width: 110px; }
  .os_fancybox-show-thumbs .os_fancybox-inner {
    right: 110px; }
  .os_fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } 
  }

.bg_os_icons {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: auto;
}

.os_fancybox-share__button.os_facebook .bg_os_icons {
  background: #3b5998;
}
.os_fancybox-share__button.os_facebook:hover span {
  color: #3b5998;
}
.os_fancybox-share__button.os_googleplus .bg_os_icons {
  background: #dc4e41;
}
.os_fancybox-share__button.os_googleplus:hover span {
  color: #dc4e41;
}
.os_fancybox-share__button.os_vkontacte .bg_os_icons {
  background: #6383a8;
}
.os_fancybox-share__button.os_vkontacte:hover span {
  color: #6383a8;
}
.os_fancybox-share__button.os_odnoklassniki .bg_os_icons {
  background: #d57819;
}
.os_fancybox-share__button.os_odnoklassniki:hover span {
  color: #d57819;
}
.os_fancybox-share__button.os_twitter .bg_os_icons {
  background: #1da1f2;
}
.os_fancybox-share__button.os_twitter:hover span {
  color: #1da1f2;
}
.os_fancybox-share__button.os_pinterest .bg_os_icons {
  background: #cb2027;
}
.os_fancybox-share__button.os_pinterest:hover span {
  color: #cb2027;
}
.os_fancybox-share__button.os_linkedin .bg_os_icons {
  background: #0077b5;
}
.os_fancybox-share__button.os_linkedin:hover span {
  color: #0077b5;
}



.os_fancybox-share__button svg {
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.os_fancybox-share__button:hover svg {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}
.os_fancybox-close-small:focus:after {
  outline: none;
}


.os_fancybox-toolbar .os_fancybox-button {
  position: relative;
}
.os_fancybox-toolbar .os_fancybox-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: rgba(35,152,209,0.9);
  height: 44px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.os_fancybox-toolbar .os_fancybox-button:hover:before {
  right: 0;
}
.os_fancybox-button--share i {
  font-size: 16px;
}
