.sz-testimonial { 
    position: relative;



    // CARD EFFECT
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; 
        background-color: $base-background; 
        color: $base-text-color;

        // ICON
        i {
            display: block;
            float:left;
            color: $accent-color-2;
                @include breakpoint(mobile-only) {
                    float:none;
                }

                @include breakpoint(small-mobile-range) {
                    float:none;
                }
        }

        // QUOTE CONTAINER
        div.sz-quote-container {
            font-family: get-font-family($font-family-quote);
            padding: 2rem 2rem 4rem;

            .sz-quote {
                margin-left: 4rem;
                
                @include breakpoint(mobile-only) {
                    margin-left: 0;
                }

                @include breakpoint(small-mobile-range) {
                    margin-left: 0;
                }
            }
        }

        // AUTHOR CONTAINER
        div.sz-author-container {
            position: relative;
            background-color: $accent-color-2;
            padding: 0.1rem 1.5rem 0.5rem;
            border-radius: 0 0 5px 5px;

            // IMAGE
            img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            h5 {
                text-transform: uppercase;
            }
            
            @include breakpoint(mobile-only) {
                img{
                   top:-3rem; 
                //   left:33%;
                }
                
                h5 {
                    margin-top:4rem;
                }
            }

            @include breakpoint(small-mobile-range) {
                img{
                   top:-3rem; 
                //   left:33%;
                }
                
                h5 {
                    margin-top:4rem;
                }
            }
        }
    }

    // ARROW EFFECT
    .arrow {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; 
        background-color: $base-background; 
        color: $base-text-color;

        // ICON
        i {
            display: block;
            float:left;
            color: $accent-color-2;
        }

        // QUOTE CONTAINER
        div.sz-quote-container {
            font-family: get-font-family($font-family-quote);
            padding: 2rem;
            
            .sz-quote {
                margin-left: 4rem;
            }
        }



        // AUTHOR CONTAINER
        div.sz-author-container {
            position: relative;
            background-color: $accent-color-2;
            border-radius: 0 0 5px 5px;
            text-align: center;

            h5 {
                padding: 0 2rem;
                text-transform: uppercase;
                }
            .sz-author-attr {
                padding: 0 2rem 1rem;
            }
        }
    }

}
